* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: #39a6b2;
}

body {
   background-image: url(../images/2020-black-crystalline-peaks-image.jpg);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.banners {
    color: var(--secondary-color);
    text-align: center;
    font-size: 36px;
    border: 3px solid var(--secondary-color);
    line-height: 50px;
    display: block;
    margin: 0 20px;

}

/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 25px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* About Me */

.about-me {
    display: fixed;
    justify-content: center;
    flex-wrap: wrap;
    /* line-height: 9.0; */
    color: var(--secondary-color);
    flex: 1;
}


.bio img {
padding: 60px 20px 60px 20px;
flex: 1;
}

.my-story {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

